.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
.error {
  border: #ff0000 2px solid;
}

.error-message {
  color: red;
}
.active-filter {
  background-color: rgba(0, 0, 0, 0.4);
  color: #e7ff03;
}
.is-done{
  opacity: 0.5;
}